body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham_SSm_5r', Helvetica, Arial, sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 106.25%;
    line-height: 1.25em;
  }

  .white-section {
    flex-direction: column;
  }
}

.main-content {
  min-height: 200vh;
  background: #f7f8f6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}

.header {
  background: #8d8c8c;
  height: 75px;
  font-size: 3em;
  color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.hero {
  background: url(http://demandware.edgesuite.net/aajp_prd/on/demandware.static/-/Sites-Reebok-CF-Library/default/dwdd0a5fb8/plpwallpaper/cf_Hero_Banner_1440x480_cami_3.jpg);
  background-size: cover;
  height: 20em;
  color: white;
}

.accent-section {
  height: 30em;
  background: #b8bdb6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45em;
  background: #f7f8f6;
  width: 100%;
}

.card-light {
  background: #fafafa;
  height: 15em;
  width: 22em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.card-dark {
  background: #888d86;
  color: #fff;
  height: 15em;
  width: 22em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.success-button {
  background-color: rgb(96, 165, 98);
  height: 30px;
  width: 85px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
  color: white;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #2c282e;
  color: #fff;
}

.jumbo-text {
  font-size: 3.5em;
  line-height: 70px;
  margin-right: 1.5em;
}

.jumbotron {
  width: 40vw;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Input styling */
.inputs {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
  font-size: 1em;
  width: 14em;
  padding: 0.2em;
  margin: 0.5em;
}
.underline--magical {
  background-image: linear-gradient(120deg, #0069c0 0%, #0069c0 100%);
  background-repeat: no-repeat;
  background-size: 0 0.2em;
  background-position: 0 100%;
  transition: background-size 0.3s ease-in;
}

.underline--magical:focus {
  background-size: 100% 0.2em;
}

.underline--magical:valid {
  background-size: 100% 0.2em;
  background-image: linear-gradient(120deg, #4caf50 0%, #4caf50 100%);
}

/* Signup button */
.btn.outline {
  background: none;
  padding: 12px 22px;
  margin-top: 2em;
}

.btn-primary.outline {
  border: 2px solid #000;
  color: #000;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
  color: rgb(96, 165, 98);
  border-color: rgb(96, 165, 98);
  cursor: pointer;
}
.btn-primary.outline:active,
.btn-primary.outline.active {
  border-color: #000;
  color: #000;
  box-shadow: none;
}
